* {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
}
/* nav section ------------------------------------ */
.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  align-items: center;
  margin:100px auto;
}
.nav-li {
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav-img {
  width: 20px;
}
/* banner section ---------------------------------------- */
.banner{
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  align-items: center;
  margin:100px auto;
}
.banner-text{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-right: 50px;
gap: 20px;
}
.banner-text h1{
  font-size:52px;
  font-weight: 700;
}
.banner-text p {
  color: #615d5d;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.btn{
  background-color: #E02C6D;
  border-radius: 41px;
  border: none;
  color: white;
  padding: 10px 24px;
}
.rating-icons {
  color: #FB8200;
}

.banner-img{
background-image: url(./images/Circle\ design.svg);
padding: 30px;
background-repeat: no-repeat;
}
.banner-img img{
  width: 100%;
}
/* logo section ----------------------------------------- */
.logo-section{
  text-align: center;
  max-width: 1400px;
  margin: auto;
}
hr {
  border-color: rgba(255, 255, 255, 0.46);
}
.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* collection section ------------------------------------ */
.collection{
 
  max-width: 1400px;
  margin:100px auto;

}
.collection h2 {
  margin-bottom: 100px;
  text-align: center;
}
.collection-card{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap: 30px;
}
.card{
  box-shadow: 10px 10px 70px gray;
  padding: 15px;
  border-radius: 10px;
}
.collection-img{
  width: 100%;
}
.card h3{
  color: var(--text-gray-900, #18191F);
font-feature-settings: 'liga' off;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 142.857% */
}
.card h5 {
  color: rgba(0, 0, 0, 0.87);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
}
.see{
text-align: right;

}
.see-btn{
  color: rgba(224, 44, 109, 0.87);
  border: none;
  margin-top: 50px;
  font-weight: 700;
}
/* featured sections ----------------------------------- */
.featured{
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  align-items: center;
  margin:100px auto;
  gap: 50px;  
}
.featured-text{
  gap: 50px;
}
.featured-text h2{
 font-size: 38px;
}
.featured-btn{
  background-color: #E02C6D;
  width: auto 200px;
  height: auto 44px;
   border: none;
  color: white;
  padding: 10px 24px; 
  margin-top: 20px;
}
/* footer section --------------------------------------- */
.footer{
  background-color: #0A0826;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer h3{
  color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer p {
  color: var(--text-gray-300, #D9DBE1);
font-feature-settings: 'liga' off;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
}
.footer-icon {
  color: white;
  margin-top: 20px;
  font-size: 20px;
}
.footer-icon i {
  margin-right: 20px;
  background-color: #ffffff38;
  padding: 10px;
  border-radius: 50%;
}
.footer span {
  color:#E02C6D;
}
/* responsive -///////////////////////////////////////// */
@media screen and (min-width: 425px) and (max-width:576px) {
  .nav {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .items {
    margin-bottom: 40px;
  }
  .banner {
    flex-direction: column-reverse;
    padding: 40px 20px;
    text-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  .banner-text {
    margin-top: 40px;
  }
  .btn{
    margin-left: 120px;
  }
  .banner-text{
    margin-right: 0px;
  }
  /* logo section ---------------------------------------- */
  .logo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
  margin: 0 30px;
  width: 100%;  
  }
  .collection{
 
    /* max-width: 100px; */
    /* margin:20px auto; */
  }
  .collection-card{
    display: flex;
    flex-direction: column;
    max-width:100%;
  } 
/* featured sections ------------------------------------- */
.featured{
  display: flex;
flex-direction: column;
  max-width: 100%;
  align-items: center;
  margin:20px auto;
  gap: 50px;  
}
/* footer section -------------------------------------- */
.footer{
  background-color: #0A0826;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 100%;
}
}